<h2>Display Author</h2><br /><br />

<b>Title:  </b><%= @author.firstName %><br />
<b>Description:  </b><%= @author.description %><br />
<b>Category: </b><%= @author.lastName%><br /><br />

<br /><br /><br />

<br/><br/>

<br/><br/>
<%= link_to "Back to main page", books_path %>
  <br/>
<%= link_to "Back to Authors Page", authors_path %>

<% if current_user.present? %>
  <br/>
  <%= link_to "Edit Author", edit_author_path(@author) %>
  <br/>

<% end %>